* {
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  @include font($font-base, normal, $black);

  @media (min-width: $breakpoint-landscape-phone) {
    font-size: 14px;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
  }
}

a {
  text-decoration: unset;
  color: $blue;
}

img {
  width: 100%;
}
