.about {
  &__intro {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      flex-direction: column;
      @media (min-width: $breakpoint-laptop) {
        flex-direction: row;
      }

      & > img {
        width: 250px;
        height: auto;

        order: 2;

        @media (min-width: $breakpoint-laptop) {
          order: 1;
        }
      }

      & > h1 {
        color: $darkBlue;
        text-transform: uppercase;

        order: 1;
        text-align: center;

        @media (min-width: $breakpoint-laptop) {
          order: 2;
          text-align: left;
        }
      }
    }
  }

  &__vismis {
    background-color: $blue;
    padding: 2rem 0;

    &__wrapper {
      color: $white;
      display: flex;
      flex-direction: column;

      img {
        width: 100% !important;
        height: auto !important;
      }

      & > h1 {
        text-align: center;
      }

      & > p {
        font-style: italic;
      }
    }
  }

  &__contact {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h1 {
      color: $darkBlue;
    }

    &__wrapper {
      align-self: stretch;
      display: flex;
      justify-content: space-around;

      flex-direction: column;

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
      }

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-of-type {
          & > div {
            align-self: stretch;
            display: flex;
            justify-content: center;
          }
        }

        & > h5 {
          color: $darkBlue;
          margin-bottom: 1rem;
          font-weight: bold;
        }
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-tablet) {
        align-self: flex-start;
        justify-content: stretch;
      }

      & > .icon {
        margin-right: 1rem;
        width: 24px;
        height: 24px;

        & > use {
          fill: $black;
        }

        @media (min-width: $breakpoint-tablet) {
          width: 32px;
          height: 32px;
        }
      }

      & > a > .icon {
        margin-right: 1rem;
        width: 24px;
        height: 24px;

        & > use {
          fill: $black;
        }

        @media (min-width: $breakpoint-tablet) {
          width: 32px;
          height: 32px;
        }
      }

      & > div {
        display: flex;
        flex-direction: column;

        & > p {
          margin-bottom: 0 !important;
        }

        & > a {
          line-height: 1.6;
        }
      }

      & > p {
        margin-bottom: 0 !important;
      }
    }

    // & > a {
    //   padding: 0 0.5rem;
    //   & > img {
    //     width: 24px;
    //     height: 24px;

    //     @media (min-width: $breakpoint-tablet) {
    //       width: 32px;
    //       height: 32px;
    //     }
    //   }
    // }
  }
}
