.contact {
  padding: 2rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__about {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    order: 1;

    iframe {
      width: 100%;
    }
    & > h1 {
      color: $darkBlue;
    }

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      align-items: flex-start;
      order: 2;

      & > h1 {
        align-self: center;
      }
    }

    & > div {
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      align-self: center;

      @media (min-width: $breakpoint-landscape-phone) {
        flex-direction: row;
        flex-wrap: wrap;
        align-self: flex-start;
      }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: column;
      }
    }

    &__logo {
      width: 400px;
      margin-bottom: 2rem;

      display: none !important;

      & > img {
        width: 100%;
      }
    }

    &__item {
      flex-basis: 50%;
      display: flex;
      align-self: center;
      margin-bottom: 1rem;
      align-items: center;

      @media (min-width: $breakpoint-landscape-phone) {
        align-self: flex-start;
      }

      &:last-of-type {
        display: flex;
        flex-direction: column;

        & > a {
          display: flex;
        }

        @media (min-width: $breakpoint-landscape-phone) {
          flex-direction: row;
          // justify-content: space-between;

          & > a:first-child {
            margin-right: 1rem;
          }
        }
      }

      & .icon {
        margin-right: 1rem;

        width: 24px;
        height: 24px;

        & > use {
          fill: $black;
        }

        @media (min-width: $breakpoint-tablet) {
          width: 32px;
          height: 32px;
        }
      }

      & > div {
        display: flex;
        flex-direction: column;
        // margin-bottom: 1rem;

        & > a {
          line-height: 1.6;
        }

        & > p {
          margin-bottom: 0;
        }
      }
    }
  }

  &__form {
    flex-basis: 40%;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    order: 1;
    margin-bottom: 2rem;

    @media (min-width: $breakpoint-tablet) {
      order: 2;
      margin-bottom: 0;
    }

    & > h3 {
      color: $white;
      text-align: center;
    }

    // & .btn {
    //   @media (min-width: $breakpoint-landscape-phone) {
    //     align-self: flex-end;
    //     flex-grow: 0;
    //     padding: 1rem 3rem;
    //     letter-spacing: 0.6rem;
    //   }
    // }
  }
}
