.hero {
  padding: 2rem 0;
  background-color: $blue;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakpoint-landscape-phone) {
      justify-content: space-around;
      flex-direction: row;
    }
  }

  &__text {
    color: $white;
    display: flex;
    flex-direction: column;
    order: 2;

    @media (min-width: $breakpoint-landscape-phone) {
      flex: 1;
      align-items: flex-start;
      order: 1;
      margin-right: 4rem;
    }

    & > h1 {
      text-transform: uppercase;
    }

    & > p {
      text-align: justify;
    }

    .btn--primary {
      font-size: $font-h5;
      padding: 1rem 2rem;
      margin-top: 2rem;

      @media (min-width: $breakpoint-landscape-phone) {
        align-self: flex-end;
      }
    }
  }

  &__image {
    order: 1;

    @media (min-width: $breakpoint-landscape-phone) {
      order: 2;
    }

    & > img {
      width: 200px;
      height: auto;
      margin-bottom: 2rem;

      @media (min-width: $breakpoint-landscape-phone) {
        width: 250px;
        margin-bottom: 0;
      }

      @media (min-width: $breakpoint-laptop) {
        width: 400px;
      }
    }
  }

  // &::after {
  //   @include pseudo(block, absolute);
  //   width: 250px;
  //   height: 30px;
  //   background-color: inherit;
  //   bottom: -30px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  // }
}

.home {
  padding: 2rem 0;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }

    & h1 {
      color: $darkBlue;
      margin-bottom: 2rem;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-landscape-phone) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: column;
      }

      @media (min-width: $breakpoint-laptop) {
        flex-direction: row;
      }

      &--col {
        flex-direction: column;
      }
    }

    &__thumbnail {
      height: 300px;
      width: 100%;
      margin-bottom: 1rem;

      & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__text {
      & > p {
        text-align: justify;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-landscape-phone) {
        flex-basis: 45%;
      }

      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: space-between;
      }

      &:not(:last-of-type) {
        margin-bottom: 1rem;

        @media (min-width: $breakpoint-tablet) {
          margin-bottom: 2rem;
        }
      }

      &__icon {
        // flex-basis: 12%;
        flex-basis: 0 1 0;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        @media (min-width: $breakpoint-tablet) {
          flex-basis: 12%;
          align-items: flex-start;
        }

        & > img {
          width: 80px;
          height: auto;

          @media (min-width: $breakpoint-tablet) {
            width: 100%;
          }
        }
      }

      &__text {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-tablet) {
          flex-basis: 85%;
        }

        & > h5 {
          @include font($font-base, bold, $darkBlue);
          align-self: center;

          @media (min-width: $breakpoint-tablet) {
            align-self: flex-start;
          }
        }

        & > p {
          text-align: justify;
          margin-bottom: 0;
        }
      }
    }
  }
}
