.services {
  &__banner {
    // height: 80vh;
    height: 50vh;

    & > img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    & > h2 {
      padding: 1rem 2rem;
      margin-bottom: 0;
      background-color: $blue;
      color: $white;
      text-align: center;
    }

    @media (min-width: $breakpoint-tablet) {
      width: 85%;
      @include center();
      margin-top: 2rem;
    }

    @media (min-width: $breakpoint-laptop) {
      width: 80%;
    }
  }

  &__content {
    padding: 2rem 0 2rem 0;
    text-align: justify;
  }
}
