.footer {
  padding: 2rem 0;
  background-color: $darkBlue;

  & p {
    color: $white;
    text-align: justify;
    margin: 0;
  }

  & h5 {
    color: $white;
    margin: 0;
    font-weight: bold;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-landscape-phone) {
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
    }

    @media (min-width: $breakpoint-laptop) {
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  &__logo {
    display: none;

    @media (min-width: $breakpoint-laptop) {
      display: flex;
      flex-basis: 10%;
    }

    & > img {
      height: 50px;
      width: auto;
    }
  }

  &__about {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $breakpoint-landscape-phone) {
      flex-basis: 60%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $breakpoint-laptop) {
      flex-wrap: nowrap;
      flex: 1;
      justify-content: space-between;
    }

    &__office {
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-landscape-phone) {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }

      @media (min-width: $breakpoint-laptop) {
        flex: 0 0 55%;
        justify-content: flex-start;
      }

      & > div {
        margin-bottom: 1rem;

        @media (min-width: $breakpoint-landscape-phone) {
          flex: 1 1 auto;
        }
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-landscape-phone) {
        flex-direction: row;
        justify-content: space-between;
        flex: 0 0 auto;
      }

      @media (min-width: $breakpoint-laptop) {
        justify-content: flex-start;
        flex-direction: column;
        flex: 0 0 40%;
      }

      & > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @media (min-width: $breakpoint-landscape-phone) {
          &:first-of-type {
            margin-right: 2rem;
          }
        }

        & > a {
          line-height: 1.6;
        }
      }
    }
  }

  &__nav {
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-laptop) {
      flex-basis: 20%;
    }
  }

  &__copyright {
    justify-self: stretch;
    display: flex;
    justify-content: center;
    border-top: 1px solid $white;
    padding-top: 1rem;

    @media (min-width: $breakpoint-landscape-phone) {
      flex: 0 0 100%;
    }
  }
}
