.header {
  background-color: $darkBlue;
  position: relative;
  z-index: 2;

  &__wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-landscape-phone) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    & > img {
      height: 65px;
      width: auto;
    }
  }

  &__nav {
    display: none;

    @media (min-width: $breakpoint-landscape-phone) {
      // flex-basis: 50%;
      flex-basis: 60%;
      height: 100%;
      display: flex;
    }

    @media (min-width: $breakpoint-tablet) {
      flex-basis: 50%;
    }
  }

  &--training {
    background-color: $darkRed;
  }
}
