.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  @include font($font-base, bold, $white);
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &--primary {
    background-color: $red;

    &::before {
      @include pseudo(block, absolute, "");
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $darkRed;
      transition: bottom 0.2s ease-in-out;
      z-index: 0;
    }

    &:hover {
      &::before {
        bottom: 0;
      }

      & > span {
        position: relative;
        z-index: 10;
      }
    }
  }
}
