.cta {
  background-color: $lightGrey;
  padding: 2rem 0;

  &--blue {
    background-color: $blue;

    & h1 {
      color: $white !important;
    }
  }

  &--training {
    height: 350px;
    background-color: $white;

    & h1 {
      text-transform: capitalize !important;

      & > span {
        font-weight: normal;
      }
    }

    @media (min-width: $breakpoint-landscape-phone) {
      height: 250px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--responsive {
      @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        align-items: center !important;

        & > h1 {
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }
    }

    h1 {
      text-align: center;
      text-transform: uppercase;
      color: $darkBlue;
    }

    .btn--primary {
      font-size: $font-h4;
      padding: 1rem 4rem;
      align-self: stretch;
      text-align: center;

      @media (min-width: $breakpoint-landscape-phone) {
        align-self: unset;
      }
    }
  }
}
