@mixin font($family, $weight: false, $color: false) {
  font-family: $family;
  @if $weight {
    font-weight: $weight;
  }
  @if $color {
    color: $color;
  }
}

@mixin pseudo($display: block, $position: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $position;
}

@mixin center {
  margin: 0 auto;
}

@mixin center-text {
  text-align: center;
}

@mixin invisible {
  visibility: hidden;
}
