// Colors
$blue: #0a89fe;
$darkBlue: #0a4e71;
$red: #e11e25;
$darkRed: #9a111a;
$lightGrey: #f8f9fd;
$white: #fff;
$black: #505050;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;

// Font
$font-title: "Glacial";
$font-title-bold: "Glacial Bold";
$font-base: "Fira Sans", sans-serif;

// Font Size
$font-h1: 36px;
$font-h2: 32px;
$font-h3: 28px;
$font-h4: 24px;
$font-h5: 18px;
$font-h6: 16px;
$font-normal: 16px;
