// Colors
$blue: #0a89fe;
$darkBlue: #0a4e71;
$red: #e11e25;
$darkRed: #9a111a;
$lightGrey: #f8f9fd;
$white: #fff;
$black: #505050;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-landscape-phone: 576px;

// Font
$font-title: "Glacial";
$font-title-bold: "Glacial Bold";
$font-base: "Fira Sans", sans-serif;

// Font Size
$font-h1: 2.25rem;
$font-h2: 2rem;
$font-h3: 1.75rem;
$font-h4: 1.5rem;
$font-h5: 1.125rem;
$font-h6: 1rem;
$font-normal: 1rem;
